In [112]:
import pandas as pd
import numpy as np

In [113]:
movies = pd.read_csv('../Data/top_1000_popular_movies_tmdb.csv', lineterminator='\n')

In [114]:
movies = movies.drop("Unnamed: 0", axis=1)

In [115]:
movies.head()

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,385687,Fast X,2023-05-17,"['Action', 'Crime', 'Thriller']",English,7.4,1347,8363.473,Over many missions and against impossible odds...,340000000,"['Universal Pictures', 'Original Film', 'One R...",652000000,142,The end of the road begins.
1,603692,John Wick: Chapter 4,2023-03-22,"['Action', 'Thriller', 'Crime']",English,7.9,2896,4210.313,"With the price on his head ever increasing, Jo...",90000000,"['Thunder Road', '87Eleven', 'Summit Entertain...",431769198,170,"No way back, one way out."
2,502356,The Super Mario Bros. Movie,2023-04-05,"['Animation', 'Family', 'Adventure', 'Fantasy'...",English,7.8,4628,3394.458,"While working underground to fix a water main,...",100000000,"['Universal Pictures', 'Illumination', 'Ninten...",1308766975,92,NaN
3,569094,Spider-Man: Across the Spider-Verse,2023-05-31,"['Action', 'Adventure', 'Animation', 'Science ...",English,8.8,1160,2859.047,"After reuniting with Gwen Stacy, Brooklyn’s fu...",100000000,"['Columbia Pictures', 'Sony Pictures Animation...",313522201,140,It's how you wear the mask that matters
4,536437,Hypnotic,2023-05-11,"['Mystery', 'Thriller', 'Science Fiction']",English,6.5,154,2654.854,A detective becomes entangled in a mystery inv...,70000000,"['Studio 8', 'Solstice Productions', 'Ingeniou...",0,94,Control is an illusion.

In [116]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10000 non-null  int64
 1   title                 10000 non-null  object
 2   release_date          9977 non-null   object
 3   genres                10000 non-null  object
 4   original_language     10000 non-null  object
 5   vote_average          10000 non-null  float64
 6   vote_count            10000 non-null  int64
 7   popularity            10000 non-null  float64
 8   overview              9924 non-null   object
 9   budget                10000 non-null  int64
 10  production_companies  10000 non-null  object
 11  revenue               10000 non-null  int64
 12  runtime               10000 non-null  int64
 13  tagline               7383 non-null   object
dtypes: float64(2), int64(5), object(7)
memory usage: 1.1+ MB

In [117]:
movies = movies[["id", "title", "genres", "overview"]]
movies.head()

,id,title,genres,overview
0,385687,Fast X,"['Action', 'Crime', 'Thriller']",Over many missions and against impossible odds...
1,603692,John Wick: Chapter 4,"['Action', 'Thriller', 'Crime']","With the price on his head ever increasing, Jo..."
2,502356,The Super Mario Bros. Movie,"['Animation', 'Family', 'Adventure', 'Fantasy'...","While working underground to fix a water main,..."
3,569094,Spider-Man: Across the Spider-Verse,"['Action', 'Adventure', 'Animation', 'Science ...","After reuniting with Gwen Stacy, Brooklyn’s fu..."
4,536437,Hypnotic,"['Mystery', 'Thriller', 'Science Fiction']",A detective becomes entangled in a mystery inv...

In [118]:
movies.isna().sum()

id           0
title        0
genres       0
overview    76
dtype: int64

In [119]:
movies.dropna(inplace=True)

In [120]:
movies.duplicated().sum()

0

In [121]:
movies["overview"] = movies["overview"].apply(lambda x:x.split())

In [122]:
movies.head()

,id,title,genres,overview
0,385687,Fast X,"['Action', 'Crime', 'Thriller']","[Over, many, missions, and, against, impossibl..."
1,603692,John Wick: Chapter 4,"['Action', 'Thriller', 'Crime']","[With, the, price, on, his, head, ever, increa..."
2,502356,The Super Mario Bros. Movie,"['Animation', 'Family', 'Adventure', 'Fantasy'...","[While, working, underground, to, fix, a, wate..."
3,569094,Spider-Man: Across the Spider-Verse,"['Action', 'Adventure', 'Animation', 'Science ...","[After, reuniting, with, Gwen, Stacy,, Brookly..."
4,536437,Hypnotic,"['Mystery', 'Thriller', 'Science Fiction']","[A, detective, becomes, entangled, in, a, myst..."

In [123]:
movies["overview"] = movies["overview"].apply(lambda x:[i.replace(" ", "") for i in x])

In [124]:
movies.head()

,id,title,genres,overview
0,385687,Fast X,"['Action', 'Crime', 'Thriller']","[Over, many, missions, and, against, impossibl..."
1,603692,John Wick: Chapter 4,"['Action', 'Thriller', 'Crime']","[With, the, price, on, his, head, ever, increa..."
2,502356,The Super Mario Bros. Movie,"['Animation', 'Family', 'Adventure', 'Fantasy'...","[While, working, underground, to, fix, a, wate..."
3,569094,Spider-Man: Across the Spider-Verse,"['Action', 'Adventure', 'Animation', 'Science ...","[After, reuniting, with, Gwen, Stacy,, Brookly..."
4,536437,Hypnotic,"['Mystery', 'Thriller', 'Science Fiction']","[A, detective, becomes, entangled, in, a, myst..."

In [125]:
movies["genres"] = [''.join(genre_list) for genre_list in movies["genres"]]

In [126]:
movies["overview"] = [' '.join(genre_list) for genre_list in movies["overview"]]

In [127]:
movies.head()

,id,title,genres,overview
0,385687,Fast X,"['Action', 'Crime', 'Thriller']",Over many missions and against impossible odds...
1,603692,John Wick: Chapter 4,"['Action', 'Thriller', 'Crime']","With the price on his head ever increasing, Jo..."
2,502356,The Super Mario Bros. Movie,"['Animation', 'Family', 'Adventure', 'Fantasy'...","While working underground to fix a water main,..."
3,569094,Spider-Man: Across the Spider-Verse,"['Action', 'Adventure', 'Animation', 'Science ...","After reuniting with Gwen Stacy, Brooklyn’s fu..."
4,536437,Hypnotic,"['Mystery', 'Thriller', 'Science Fiction']",A detective becomes entangled in a mystery inv...

In [128]:
movies["tags"] = movies["overview"] + movies["genres"]

In [129]:
movies["tags"][300]

"Washed-up MMA fighter Cole Young, unaware of his heritage, and hunted by Emperor Shang Tsung's best warrior, Sub-Zero, seeks out and trains with Earth's greatest champions as he prepares to stand against the enemies of Outworld in a high stakes battle for the universe.['Action', 'Fantasy', 'Adventure']"

In [130]:
new_df = movies[["id", 'title', 'tags']]

In [131]:
new_df["tags"] = new_df["tags"].apply(lambda x:x.lower())

C:\Users\Asus\AppData\Local\Temp\ipykernel_17636\3481706753.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x:x.lower())

In [132]:
new_df.head()

,id,title,tags
0,385687,Fast X,over many missions and against impossible odds...
1,603692,John Wick: Chapter 4,"with the price on his head ever increasing, jo..."
2,502356,The Super Mario Bros. Movie,"while working underground to fix a water main,..."
3,569094,Spider-Man: Across the Spider-Verse,"after reuniting with gwen stacy, brooklyn’s fu..."
4,536437,Hypnotic,a detective becomes entangled in a mystery inv...

In [133]:
import re
import pandas as pd

def convert_text_to_string(text):
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('\n', '', text)
    parts = text.split("['")
    if len(parts) < 2:
        return ''  # Handle the case when the splitting operation doesn't result in enough elements
    description = re.sub(r'[^\w\s]', '', parts[0].strip())
    genres = re.sub(r'[^\w\s]', '', parts[1].rstrip("']").replace("'", ""))
    return f"{description} {genres}"

new_df['tags'] = new_df['tags'].apply(convert_text_to_string)

C:\Users\Asus\AppData\Local\Temp\ipykernel_17636\3334962607.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(convert_text_to_string)

In [134]:
new_df.head()

,id,title,tags
0,385687,Fast X,over many missions and against impossible odds...
1,603692,John Wick: Chapter 4,with the price on his head ever increasing joh...
2,502356,The Super Mario Bros. Movie,while working underground to fix a water main ...
3,569094,Spider-Man: Across the Spider-Verse,after reuniting with gwen stacy brooklyns full...
4,536437,Hypnotic,a detective becomes entangled in a mystery inv...

In [136]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
new_df['tags'] = new_df['tags'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(new_df['tags'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

C:\Users\Asus\AppData\Local\Temp\ipykernel_17636\309586950.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].fillna('')

(9924, 32154)

In [137]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [139]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(new_df.index, index=new_df['title']).drop_duplicates()

In [150]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title][0]

    # Get the pairwise similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return new_df['title'].iloc[movie_indices]

In [152]:
get_recommendations('The Avengers')

393                           Avengers: Age of Ultron
7589                                    Crime Busters
5931                                          Timecop
8639                               Echelon Conspiracy
5970                  Marvel One-Shot: The Consultant
240                         Spider-Man: Far From Home
569     Mission: Impossible - Dead Reckoning Part One
3459                                             Push
5762                                     The Fountain
174                                 Meg 2: The Trench
Name: title, dtype: object

In [153]:
import pickle
pickle.dump(new_df.to_dict(), open('Top-1000-movies-recommender.pkl', 'wb'))

In [154]:
pickle.dump(cosine_sim, open('similarity.pkl', 'wb'))